<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="home :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="home :: navbar"></nav>


<form>

    <div class="form-group">
        <label for="inputAddress">Enter your full</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Enter your full name">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
    </div>

    <div class="form-row">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>

</form>


<footer th:replace=" home :: footer"></footer>
</body>
</html>